{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title_tag %}Forgot Your Password? | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
    <h1>Forgot your password?</h1>
    <p>Oh no! It happens to the best of us, though! Enter the email address that's associated with your account and we'll send you instructions on how you can change your password.</p>
    
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Send me instructions!" class="btn btn-default">
    </form>
</div>
{% endblock %}