figure {
    margin: 0;
    border: 1px solid #000;
    position: relative;
}

figcaption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

:host {
    padding: 1em;
    display: block;
}

.actions {
    padding: 1em 0;
}

.liked {
    color: red;
}
