<form (submit)="onSubmit()" #commentForm="ngForm" novalidate>
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="name"
        required minlength="3" #nameField="ngModel"
        [ngStyle]="{'outline-color': nameField.dirty && nameField.valid ? 'green' : undefined}"/>
        <div class="alert alert-danger" *ngIf="(commentForm.submitted || nameField.touched) && nameField.errors">
            <div [hidden]="!nameField.errors.required">Name is required</div>
            <div [hidden]="!nameField.errors.minlength">Name must be a minimum of 3 characters long</div>
        </div>
    </div>
    <div>
        <label for="comment">Comment</label>
        <textarea name="comment" [(ngModel)]="comment"
        required minlength="3" #commentField="ngModel"
        [ngStyle]="{'outline-color': commentField.dirty && commentField.valid ? 'green' : undefined}"></textarea>
        <div class="alert alert-danger" *ngIf="(commentForm.submitted || commentField.touched) && commentField.errors">
            <div [hidden]="!commentField.errors.required">Comment is required</div>
            <div [hidden]="!commentField.errors.minlength">Comment must be a minimum of 3 characters long</div>
        </div>
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>
