{% extends "teams/_layout.html" %}

{% block body_content %}
<h1>{{ team.name  }}</h1>
<p class="muted">{{ team.practice_location }}</p>
<p>Coached by <strong>{{ team.coach.get_full_name|default:team.coach }}</strong></p>

<h2>Players</h2>
<ul>
{% for player in team.players.all %}
	<li>{{ player.name }} - {{ player.get_position_display }}</li>
{% endfor %}
</ul>

{% if user == team.coach %}
<hr>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Save">
</form>
{% endif %}

<hr>
<p><a href="{% url 'teams:update' pk=team.pk %}" class="btn">Edit</a></p>
{% endblock %}
